body {
    scrollbar-base-color: red;
    scrollbar-arrow-color: white;
    
    }

#popover-content-\:r1\:,
#popover-content-\:r3\: {
    display: block;
    position: fixed;
    bottom: 18%;
    right: 40px;
    height: 450px;
    width: 380px;
    overflow-y: scroll;
}

#entryButton {
    position: fixed;
    bottom: 5%;
    right:0;
    z-index: 99 !important;
}



#popover-body-\:r1\:,
#popover-body-\:r3\: {
    height: 1000px;
    padding: 20px;
    width: -webkit-fill-available;
}

.css-1hcx8jb.evf3f5611 {
    display: none !important;
    background-color: black;

}

#settings-icon {
    position: absolute;
    top: 8px;
    right: 40px;
    cursor:pointer;
    
}

#dropDownSettings {
    color: white;
    height: 130px;
    width: 110px;
    display: none;
    flex-direction: row;
    background-color: black;
    position: absolute;
    right: 40px;
    top: 29px;
    z-index: 1;
    

}

#dropDownSettings ul {
    /* list-style-type: none; */
    margin: auto;


}

#dropDownSettings ul li {
    height: 30px;
    display: flex;
    padding: 5px;
    font-size: 14px;
    align-items: center;
    font-weight: normal;
    line-height: 16px;

}

#dropDownSettings ul li button {
    font: inherit;
    color: inherit;
    width: 100%;
    border: none;
    cursor: pointer;
    display: flex;
    outline: inherit;
    padding: 0px;
    background: none;
    text-align: left;
    align-items: center;
    font-size: 9px;
}

